$c-black: hsl(0, 0%, 0%);
$c-white: hsl(0, 0%, 100%);

$font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif;

$size-default: 1.6rem;
$size-medium: 2.4rem;
$size-small: $size-default;
$size-x-small: 1.4rem;

$weight-bold: bold;
$weight-light: 300;

$t-short: 0.3s;
$t-medium: 0.5s;

$spacer-default: 20px;
